@charset "utf-8";

* {
	margin:0;	
}
body {
	background-color:#282828;	
}
.main {
	margin-left:20%;
	margin-right:20%;
	margin-top:2%;
	margin-bottom:2%;
}
.main .content {
	margin-left:2%;
	margin-right:2%;	
}
.topbar {
	background-color:black;
	padding-top:1%;
	padding-bottom:1%;
	font-size: 12px;
  	font-family: "Georgia";
  	color: rgb( 105, 105, 105 );
  	line-height: 1.6;
}
.topbar .right {
	float:right;	
}
.topbar a {
	text-decoration:none;
	color: rgb( 105, 105, 105 );
}
.topbar a:hover {
	color:#d74340;	
}
.navbar {
	background-color:#1a1b1d;
	padding-top:2%;
	padding-bottom:4%;
}
.navbar .logo {
  	font-size: 36px;
  	font-family: "Georgia";
  	color: rgb( 255, 255, 255 );
  	line-height: 1;
}
.navbar .slogan {
  	font-size: 12px;
  	font-family: "Georgia";
  	color: rgb( 255, 255, 255 );
  	line-height: 1;
}
.navbar li {
	float:right;
	display:inline;	
	padding-left:2%;
}
.navbar li a {
	text-decoration:none;	
  	font-size: 12pt;
  	font-family: "Georgia";
  	line-height: 1;
	color:white;
}
.navbar li.active a, 
.navbar li.active a:hover, 
.navbar li.active a:active {
	color: rgb( 215, 67, 64 );	
}
.navbar li a:hover {
	color: rgb( 215, 67, 64 );	
}
.navbar li .subnav {
  	font-size: 12px;
  	font-family: "Arial";
  	color: rgb( 204, 204, 204 );
  	line-height: 1.6;
}
.navline {
	background-color:#d74340;
	padding-bottom:0.5%;	
}
.main .page {
	background-color:#ffffff;	
}
.main .page .shout {
	padding-top:3%;
	padding-bottom:1%;
  	font-size: 28px;
  	font-family: "Georgia";
  	color: rgb( 152, 152, 152 );
  	line-height: 1;
  	text-align: center;
}
.main .page .reference {
	color:#666666;
	padding-top:10%;
}
.main .page .reference .head {
  	font-size: 20px;
  	font-family: "Georgia";
  	color: rgb( 102, 102, 102 );
  	line-height: 1.4;
}
.main .page .reference .text {
  	font-size: 13px;
  	font-family: "Georgia";
  	color: rgb( 102, 102, 102 );
  	line-height: 1.4;
}
.button {
	background-color:#d74340;
  	font-size: 13px;
  	font-family: "Georgia";
  	color: rgb( 255, 255, 255 );
  	line-height: 1;
	padding-top:2%;
	padding-bottom:2%;
	padding-left:2%;
	padding-right:2%;
	margin-top:5%;
	border-radius: 8px;
	border-color:transparent;
}
.main .page .devider {
	margin-top:2%;
	margin-bottom:2%;
	text-align:center;	
}
.main .page .slider {}
.main .page .blog {
  	font-family: "Georgia";
  	color: rgb( 102, 102, 102 );
	line-height: 1.4;	
}
.main .page .blog .head {
	font-size: 20px;
}
.main .page .blog .text {
  	font-size: 13px;
}
.footer {
	background-color:#1a1b1d;
	margin-top:5%;
	padding-top:3%;
	padding-bottom:3%;
}
.footer .head {
  	font-size: 12px;
  	font-family: "Georgia";
  	color: rgb( 151, 151, 151 );
  	line-height: 1.2;
}
.footer .title {
  	font-size: 13px;
  	font-family: "Georgia";
  	color: rgb( 88, 92, 95 );
  	line-height: 1.2;
}
.footer .info {
  	font-size: 11px;
  	font-family: "Georgia";
  	color: rgb( 88, 92, 95 );
  	line-height: 1.2;
}
.footer .text {
  	font-size: 12px;
  	font-family: "Georgia";
  	color: rgb( 88, 92, 95 );
  	line-height: 1.6;
}
.footer a {
	color:#d74340;	
}
.input {
	margin-top:5%;
	padding-top:2%;
	padding-bottom:2%;
	padding-left:2%;
	padding-right:45%;
	color:#585c5f;
	background-color:#27282c;
	border-color:transparent;	
}
.footer hr {
	margin-top:3%;
	border-color:#27282c;
}
.footer .copyright {
  	font-size: 12px;
  	font-family: "Georgia";
  	color: rgb( 88, 91, 95 );
  	line-height: 1;
	margin-top:2%;
}
.footer .copyright .site {
	float:left;
}
.footer .copyright .template {
	float:right;
}
